ul{
    list-style: none;
    display: inline-flex;
    width: 100vw;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}

li{
    color: #6f788a;
    padding: 0 1em;
}

a{
    cursor: pointer;
}
a:hover{
    color: black;
}
.active{
    font-weight: 600;
    color:black;
    border-bottom: 3px solid black;
}

@media only screen and (max-width: 767px){

}
@media only screen and (min-width: 768px) {
    ul{
        justify-content: space-around;
    }
}