header{
    background-color: white;
    box-shadow: 0px 4px 16px 0 rgba(196, 204, 221, .5);
    position: fixed;
    top: 0;
    z-index: 2;
}

.Nav{
    width:100%;
    display:inline-flex;
    padding: .5em;
}

h1{
    margin-left:1em;
}
@media only screen and (max-width: 767px){
    h1{
        font-size: 1.05em;
    }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
    h1{
        font-size: 1.5em;
    }
}