.container {
  position: relative;
  top: 14em;
  width: 75vw;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;

  & .spinner {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
    animation: spinner 800ms linear infinite;
  }

  @keyframes spinner {
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}
